
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navb li, a, i {
    list-style: none;
    padding: 3px;
    background-color:rgb(16, 16, 16) ;
    color: #fff;
    border: none;
    text-decoration: none;

}
.pepe{
    display: none;
   }

@media (max-width:992px){
    .navb{
        display: none !important;
    }
    .pepe{
        background: transparent;
        display: block !important;
        border:  rgb(235, 220, 220);
    }
    .nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
    }
}



.navImg{
    width: 65px;
    height: 26px;

}
.nav{
    background-color: rgb(16, 16, 16);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    color: #ffff;


}
.navb{
    display: flex;
    justify-content: space-between;
}

.img0{
   margin: 60px 0;
   width: 100%;
   padding: 0 70px;

}

.img0 img{
 width: 100%;

}

@media (max-width:992px){
    .img0{
        margin: 20px 0;
        width: 100%;
        padding: 0 30px;
        
    }
}

.posicion{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    
}
@media (max-width:992px){
    .posicion{
        display: grid;
        grid-template-columns: 1fr ;
    }
    }

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
}


 
.new{
    display: flex;
    padding: 15px;
}

.noticia div{
    border: 1px solid #000;
    border-radius: 15px;
}


.container div{
   border: 1px solid #000;
   border-radius: 15px;
}
.container div img{
    width: 100%;
    border-radius: 15px;
}
.container div h4, p{
    padding: 10px;
}
 .img2{
    display: flex;
    width: 80px;
    height: 40px;
}

.footer{
    background-image: url(https://img5.goodfon.com/wallpaper/nbig/6/2f/mstiteli-voina-beskonechnosti-avengers-infinity-war-komiks-1.jpg);
    height: 600px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    }

.text{
    color: #fff;
    list-style: none;
    padding: 15%;
}

.text1{
    padding: 10px;
}

